<ion-content>
  <ion-slides (ionSlideTap)="slideTap()" pager="false" class="playerInfo">
    <ion-slide *ngFor="let player of players" class="slide">
      <h2>{{player.name}}</h2>
      <h1 class="points">{{player.points}}</h1>
      <div id="finishway">{{player.finishWay}}</div>
      <div id="avarage">Avarage: {{player.avarageLeg}}</div>
      <div class="block marg">
        <div id="legs_won">Legs: {{player.legsWon}}</div>
        <div id="sets_won">&#160; Sets: {{player.setsWon}}</div>
      </div>
    </ion-slide>
  </ion-slides>
  <div (click)="showWays()" id="thrownpoints">
    <div id="tablediv">
      <span class="vertikal">{{thrownpoints}}</span>
    </div>
  </div>
</ion-content>

<ion-footer no-border class="numpad">
  <div class="block">
    <ion-button (click)="number(1)" class="numberButton" expand="full" color="medium">1</ion-button>
    <ion-button (click)="number(2)" class="numberButton" expand="full" color="medium">2</ion-button>
    <ion-button (click)="number(3)" class="numberButton" expand="full" color="medium">3</ion-button>
  </div>
  <div class="block">
    <ion-button (click)="number(4)" class="numberButton" expand="full" color="medium">4</ion-button>
    <ion-button (click)="number(5)" class="numberButton" expand="full" color="medium">5</ion-button>
    <ion-button (click)="number(6)" class="numberButton" expand="full" color="medium">6</ion-button>
  </div>
  <div class="block">
    <ion-button (click)="number(7)" class="numberButton" expand="full" color="medium">7</ion-button>
    <ion-button (click)="number(8)" class="numberButton" expand="full" color="medium">8</ion-button>
    <ion-button (click)="number(9)" class="numberButton" expand="full" color="medium">9</ion-button>
  </div>
  <div class="block">
    <ion-button (click)="delete()" class="numberButton" expand="full" color="danger">
      <ion-icon name="backspace"></ion-icon>
    </ion-button>
    <ion-button (click)="number(0)" class="numberButton" expand="full" color="medium">0</ion-button>
    <ion-button (click)="enter()" class="numberButton" expand="full" color="success">
        <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-footer>