<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closepage()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Würfe ändern</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="list">
    <ion-list-header>Geworfene Punkte</ion-list-header>
    <ion-item *ngFor="let throw of throwsShow">
      <ion-text>{{throw.points}}></ion-text>
    </ion-item>
  </ion-list>
</ion-content>