<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">Statistiken zum Spiel {{title}}</ion-title>
    <ion-title>{{secondtitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" color="light">
    <ion-card-header>
      <ion-card-title>Quick Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let row of quickStats">
          <ion-col *ngFor="let column of row.Columns">
            <ion-text class="{{column.class}}">{{column.text}} <ion-text class="{{column.class2}}">{{column.text2}}</ion-text>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="card" color="light">
    <ion-card-header>
      <ion-card-title>Avarage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="card" color="light">
    <ion-card-header>
      <ion-card-title>Scoring</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="myChart" #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="card" color="light">
    <ion-card-header>
      <ion-card-title>Detail Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let row of rows">
          <ion-col *ngFor="let column of row.Columns">
            <div [style.color]="getColor(row, column)">{{column.text}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-button size="large" expand="block" (click)="routeToStart()">Start</ion-button>
</ion-footer>