<ion-content padding>
  <div class="center">
    <h1 class="header"><span class="startLetter">D</span>arts <span class="startLetter">D</span>uell</h1>
    <br>
    <div class="pictureFrame">
      <img src="../../assets/images/dart.jpg" />
    </div>
    <ion-button (click)="gameStart()" size="large" class="startbutton" color="success">Spiel starten</ion-button>
    <br>
    <ion-button (click)="gameStart()" size="large" class="startbutton" color="success">Tunier starten</ion-button>
    <br>
    <ion-button (click)="settings()" size="large" class="startbutton" color="success">Einstellungen</ion-button>
    <br>
    <ion-button (click)="stats()" size="large" class="startbutton" color="success">Statistiken</ion-button>
  </div>
</ion-content>

<ion-footer class="textcenter">
  ©Jonas Alin
</ion-footer>