.center {
    text-align: center;
}

.startbutton {
    width: 60%;
}

.startLetter {
    font-size: 52px;
    color: #10dc60;
}
.header {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

pictureFrame {
    width: 100%;
}

img {
    width: 80%;
    max-width: 450px;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.textcenter {
    text-align: center;
}