<ion-content padding>
  <div class="center">
    <h1 class="header"><span class="startLetter">D</span>arts <span class="startLetter">D</span>uell</h1>
    <br>
    <img src="../../assets/images/dart.jpg" />
    <ion-button (click)="gameStart()" expand="large" class="startbutton" color="success">Spiel starten</ion-button>
    <br>
    <ion-button (click)="gameStart()" expand="large" class="startbutton" color="success">Tunier starten</ion-button>
    <br>
    <ion-button (click)="settings()" expand="large" class="startbutton" color="success">Einstellungen</ion-button>
  </div>
</ion-content>

<ion-footer class="textcenter">
  ©Jonas Alin
</ion-footer>